HUMAN CONSUMPTION QUANTIFICATION

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import warnings
from scipy.stats import linregress
warnings.simplefilter("ignore")
plt.rcParams["figure.autolayout"] = True
plt.rcParams['axes.grid'] = True

/Applications/anaconda3/envs/mude/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

EVAPORATION FROM WATER HOLES

In [43]:
df = pd.read_csv('DR.csv', delimiter=';', skiprows=1, header=None)
df["Date"] = pd.to_datetime(df[0], dayfirst = True)
df["DR"] = df[1] * 86400
df = df.drop(columns=[0, 1])
WS = pd.read_csv('WS.csv', delimiter=';', skiprows=1, header=None)
TEMP = pd.read_csv('TEMP.csv', delimiter=';', skiprows=1, header=None)
H = pd.read_csv('human_con.csv', delimiter=';', skiprows=1, header=None)
df["WS"] = WS[1]
df["TEMP"] = TEMP[1]
df["HUMAN"] = H[2]
df

           Date           DR      WS     TEMP     HUMAN
0    2019-08-01  17994899.52  4.3037  18.6870  0.000069
1    2019-08-02  14031610.56  4.0746  18.9940  0.000069
2    2019-08-03  16541634.24  2.4538  19.4186  0.000069
3    2019-08-04  15149056.32  2.3459  21.8475  0.000069
4    2019-08-05  13920336.00  2.1874  22.4566  0.000069
...         ...          ...     ...      ...       ...
1819 2024-07-28  18519261.12  3.4815  18.4102  0.000058
1820 2024-07-29  18517921.92  2.8103  17.6167  0.000058
1821 2024-07-30  17970690.24  3.3127  17.6819  0.000058
1822 2024-07-31  17673120.00  5.5438  18.4787  0.000058
1823 2024-08-01  11426184.00  4.6164  17.9051  0.000058

[1824 rows x 5 columns]

In [44]:
lam = 2450000 # latent heat of vaporization [J]
cp = 1004 # specific heat of air [J kg-1 K-1]
rho_a = 1.205 # density of air [kg/m3]
rho = 1000 # density of water [kg/m3]
gamma = 0.066 # psychrometer constant [kPa/◦C]

In [45]:
# aeronamic resistance [d/m]
ra = (1/86400) * (245/ (0.5*df["WS"] + 0.5))

# saturation vapour pressure [kPa]
es = 0.61 * np.exp((19.9*df["TEMP"])/(273 + df["TEMP"]))

# slope of saturation vapour pressure [kPa / C]
s = (5430 * es) / ((273 + df["TEMP"])**2)

# actual vapour pressure [kPa] using relative humidity from https://www.statsbots.org.bw/sites/default/files/publications/BOTSWANA%20ENVIRONMENT%20%20STATISTICS%20%20CLIMATE%20DIGEST%20MARCH%202022%20_.pdf [-]
h = 0.59
ea = h * es

# quivalent evaporation values Ra/λ [kg d−1 m−2]
Rn = df["DR"] / lam

In [46]:
Eo = ((s * Rn)/(rho * lam)) + (((cp * rho_a)/(rho * lam)) * ((es - ea)/ra)) / (s + gamma) # m/d

In [47]:
Eo = Eo * 1000

In [48]:
df["Eo [mm/d]"] = Eo

In [49]:
df

           Date           DR      WS     TEMP     HUMAN  Eo [mm/d]
0    2019-08-01  17994899.52  4.3037  18.6870  0.000069   2.012983
1    2019-08-02  14031610.56  4.0746  18.9940  0.000069   1.940896
2    2019-08-03  16541634.24  2.4538  19.4186  0.000069   1.334931
3    2019-08-04  15149056.32  2.3459  21.8475  0.000069   1.369396
4    2019-08-05  13920336.00  2.1874  22.4566  0.000069   1.322420
...         ...          ...     ...      ...       ...        ...
1819 2024-07-28  18519261.12  3.4815  18.4102  0.000058   1.689053
1820 2024-07-29  18517921.92  2.8103  17.6167  0.000058   1.407014
1821 2024-07-30  17970690.24  3.3127  17.6819  0.000058   1.595244
1822 2024-07-31  17673120.00  5.5438  18.4787  0.000058   2.470615
1823 2024-08-01  11426184.00  4.6164  17.9051  0.000058   2.089550

[1824 rows x 6 columns]

In [51]:
wh = 8 # number of water holes
r = 5 # radius of water hole [m]
h = 0.5 # height of water hole [m]
area = np.pi * (r**2)
vol = area * h # volume of wh [m3]
area_reserve = 208786786

tot_vol = wh * vol # total volume of water in waterholes [m3]
ev = wh * area * (Eo / 1000) # total open water ev [m3]
animals = 21.762 # [m3]

In [52]:
loss = (ev+animals)/area_reserve*1000

In [53]:
df["ANIMALS"] = loss
df["HUMAN_EXT"] = loss + df["HUMAN"]

In [54]:
df

,Date,DR,WS,TEMP,HUMAN,Eo [mm/d],ANIMALS,HUMAN_EXT
0,2019-08-01,17994899.52,4.3037,18.6870,0.000069,2.012983,0.000110,0.000179
1,2019-08-02,14031610.56,4.0746,18.9940,0.000069,1.940896,0.000110,0.000179
2,2019-08-03,16541634.24,2.4538,19.4186,0.000069,1.334931,0.000108,0.000177
3,2019-08-04,15149056.32,2.3459,21.8475,0.000069,1.369396,0.000108,0.000177
4,2019-08-05,13920336.00,2.1874,22.4566,0.000069,1.322420,0.000108,0.000177
...,...,...,...,...,...,...,...,...
1819,2024-07-28,18519261.12,3.4815,18.4102,0.000058,1.689053,0.000109,0.000168
1820,2024-07-29,18517921.92,2.8103,17.6167,0.000058,1.407014,0.000108,0.000167
1821,2024-07-30,17970690.24,3.3127,17.6819,0.000058,1.595244,0.000109,0.000167
1822,2024-07-31,17673120.00,5.5438,18.4787,0.000058,2.470615,0.000112,0.000170
1823,2024-08-01,11426184.00,4.6164,17.9051,0.000058,2.089550,0.000111,0.000169